details {
    border: solid;
    border-color: #159957;
    border-width: 2px;
    border-radius: 5px;
    padding: 10px 15px 10px 15px;
    margin-bottom: 10px;
}

details summary {
    cursor: pointer;
    color: #159957;
    display: list-item;
    font-size: 1.5em;
}